@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kolory strony */

@layer utilities {
  .text-gold-vegas {
    @apply text-[#C5B358];
  }
  .bg-gold-vegas {
    @apply bg-[#C5B358];
  }
  /* Przyciski */
.btn {
  @apply py-3 px-8 rounded-full transition duration-300 shadow-md font-bold;
}

.btn-primary {
  @apply text-black bg-[#C5B358] hover:bg-white hover:text-[#C5B358] border border-[#C5B358];
}

.btn-secondary {
  @apply text-black bg-white hover:bg-[#C5B358] hover:text-white border border-[#C5B358];
}

.btn-danger {
  @apply text-white bg-red-600 hover:bg-red-700;
}
}
/* Globalne style */
body {
  @apply bg-black text-black font-sans;
}

h1, h2, h3 {
  @apply text-gold-vegas font-bold;
}

a {
  @apply text-gold-vegas hover:underline;
}

button {
  @apply transition ease-in-out duration-300;
}
/* Usuń marginesy i padding */
html,
body {
  box-shadow: inset 0px 15px 50px 15px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #000000, #C5B358);
}

/* Rozciągnij element root na całą wysokość */
#__next {
  height: 100%;
}

